[submodule "GeneratedCode/Account"]
	path = GeneratedCode/Account
	url = https://github.com/sherinjom/Account.git
[submodule "GeneratedCode/Customer"]
	path = GeneratedCode/Customer
	url = https://github.com/sherinjom/Customer.git
[submodule "GeneratedCode/AccountBranch"]
	path = GeneratedCode/AccountBranch
	url = https://github.com/sherinjom/Account.git
